body {
    background-image: url("../Illustrations/Bathome1.png");
}

.logo {}

.menu {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

header {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

nav {
    /* border: 2px solid white; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}